html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    & > main {
        flex: auto;

        & > div {
            padding: 1rem 0;
        }
    }
}

a {
    cursor: pointer;
}
