.overflow {
    position: relative;

    & > * {
        position: relative;

        bottom: -6rem;
    }
}

.overflow-reverse {
    position: relative;

    & > * {
        position: relative;

        top: -6rem;
    }
}
