doctype html
html( lang="en-us" )
    head
        meta( charset="utf-8" )
        meta( http-equiv="content-type" content="text/html; charset=utf-8" )
        meta( http-equiv="default-style" content="text/css; charset=utf-8" )
        meta( name="viewport" content="width=device-width, initial-scale=1.0" )

        title File manager
        
        link( rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" )
        link( rel="stylesheet" type="text/css" href="/materialize/css/materialize.min.css" )        
        link( rel="stylesheet" type="text/css" href="/stylesheets/imports.css" )

    body
        script( type="application/javascript" src="/javascripts/jquery.min.js" )
        script( type="application/javascript" src="/materialize/js/materialize.min.js" )
        script( type="application/javascript" src="/views/main.js" )
