md-content( flex="100" layout="column" )
    md-toolbar
        div.md-toolbar-tools.md-white.md-black-text
            div.md-breadcrumb
                span.md-breadcrumb-item( ng-click="open( '/' )" )
                    span {{ 'fs.root' | translate | ucfirst }}
                    md-icon.md-black-text( ng-show="removeUseless( dirnames ).length" ) keyboard_arrow_right

                span.md-breadcrumb-item( ng-click="open( level( dirnames, $index ))" ng-repeat="dirname in removeUseless( dirnames ) track by $index" )
                    span( ng-show="dirname != ''" ) {{ dirname }}
                    md-icon.md-black-text( ng-show="!$last" ) keyboard_arrow_right

    md-content( flex="100" layout="row" layout-align="start start" layout-wrap )
        div( flex="20" ng-repeat="folder in folders" )
            md-card( flex="100" )
                md-tooltip( md-direction="bottom" ) {{ folder.name }}
                md-card-content( flex="100" layout="row" )
                    md-icon( flex="20" ) folder
                    span.md-text-center( flex="60" ) {{ folder.name | truncate: 15 }}
                    div( flex="20" )
                        md-menu.md-secondary( flex="100" )
                            md-button.md-icon-button( ng-click="$mdOpenMenu( $event )" )
                                md-icon( md-menu-origin ) more_vert

                            md-menu-content( width="4" )
                                md-menu-item
                                    md-button( ng-click="bookmark( folder.name )" )
                                        md-icon( md-menu-align-target ) add
                                        span {{ 'fs.bookmarks' | translate | ucfirst }}

                                md-menu-item
                                    md-button( ng-click="location( folder.name )" )
                                        md-icon( md-menu-align-target ) folder_open
                                        span {{ 'fs.open' | translate | ucfirst }}

                                md-menu-item
                                    md-button
                                        md-icon( md-menu-align-target ) folder_shared
                                        span {{ 'fs.share' | translate | ucfirst }}

                                md-menu-item
                                    md-button( ng-click="rename( folder.name, $event )" )
                                        md-icon( md-menu-align-target ) create
                                        span {{ 'fs.rename.base' | translate | ucfirst }}

                                md-menu-item
                                    md-button
                                        md-icon( md-menu-align-target ) file_download
                                        span {{ 'fs.download' | translate | ucfirst }}

                                md-menu-item
                                    md-button
                                        md-icon( md-menu-align-target ) archive
                                        span {{ 'fs.archive' | translate | ucfirst }}

                                md-menu-item
                                    md-button
                                        md-icon( md-menu-align-target ) unarchive
                                        span {{ 'fs.unarchive' | translate | ucfirst }}

                                md-menu-item
                                    md-button( ng-click="removeFolder( folder.name )" )
                                        md-icon( md-menu-align-target ) delete
                                        span {{ 'fs.delete' | translate | ucfirst }}

    md-content( flex="100" layout="row" layout-align="start start" layout-wrap )
        div( flex="20" ng-repeat="file in files" )
            md-tooltip( md-direction="bottom" ) {{ file.name }}
            md-card( flex="100" )
                img.md-card-content( ng-src="" )
                md-card-content( flex="100" layout="row" )
                    md-icon( flex="20" ) insert_drive_file
                    span.md-text-center( flex="60" ) {{ file.name | truncate: 15 }}
                    div( flex="20" )
                        md-menu.md-secondary
                            md-button.md-icon-button( ng-click="$mdOpenMenu( $event )" )
                                md-icon( md-menu-origin ) more_vert

                            md-menu-content( width="4" )
                                md-menu-item
                                    md-button
                                        md-icon( md-menu-align-target ) share
                                        span {{ 'fs.share' | translate | ucfirst }}

                                md-menu-item
                                    md-button( ng-click="rename( file.name, $event )" )
                                        md-icon( md-menu-align-target ) create
                                        span {{ 'fs.rename.base' | translate | ucfirst }}

                                md-menu-item
                                    md-button
                                        md-icon( md-menu-align-target ) file_download
                                        span {{ 'fs.download' | translate | ucfirst }}

                                md-menu-item
                                    md-button
                                        md-icon( md-menu-align-target ) archive
                                        span {{ 'fs.archive' | translate | ucfirst }}

                                md-menu-item
                                    md-button
                                        md-icon( md-menu-align-target ) unarchive
                                        span {{ 'fs.unarchive' | translate | ucfirst }}

                                md-menu-item
                                    md-button( ng-click="removeFile( file.name )" )
                                        md-icon( md-menu-align-target ) delete
                                        span {{ 'fs.delete' | translate | ucfirst }}

    md-fab-speed-dial.md-scale.md-fixed.md-bottom-right( md-open="openFAB" md-direction="left" ng-mouseenter="openFAB = true" ng-mouseleave="openFAB = false" )
        md-fab-trigger
            md-button.md-fab.md-warn
                md-tooltip( md-direction="top" ) {{ 'fs.moreOptions' | translate | lower }}
                md-icon menu

        md-fab-actions
            md-button.md-fab.md-raised.md-mini( ng-click="open( path )" )
                md-tooltip( md-direction="top" ) {{ 'fs.refresh' | translate | lower }}
                md-icon refresh

            md-button.md-fab.md-raised.md-mini( ng-click="open( '/' )" )
                md-tooltip( md-direction="top" ) {{ 'fs.goToRoot' | translate | lower }}
                md-icon folder