md-content( layout="column" layout-align="center center" flex ng-show="load" )
    md-progress-circular( md-diameter="100" )

md-content( layout="column" flex ng-show="!load" )
    md-card
        md-toolbar.md-table-toolbar.md-default( ng-cloak ng-show="!showFilter && !selecteds.length" )
            div.md-toolbar-tools
                h2.md-title {{ 'fs.toolbar.list' | translate | ucfirst }}

                div( flex )

                md-button.md-icon-button( ng-click="showFilter = true" )
                    md-icon filter_list

        md-toolbar.md-table-toolbar.md-default( ng-show="showFilter" )
            div.md-toolbar-tools
                md-input-container.md-toolbar-input
                    md-icon search
                    label {{ 'fs.toolbar.filter' | translate | ucfirst }}
                    input( type="text" name="search" ng-model="filter.name" )

                div( flex )

                md-button.md-icon-button( ng-click="showFilter = false" )
                    md-icon close

        md-toolbar.md-table-toolbar.md-default( ng-show="selecteds.length" )
            div.md-toolbar-tools
                h2.md-title( ng-show="selecteds.length == 1" ) {{ selecteds.length }} {{ 'fs.toolbar.item.singular' | translate | ucfirst }}
                h2.md-title( ng-show="selecteds.length >  1" ) {{ selecteds.length }} {{ 'fs.toolbar.item.plural'   | translate | ucfirst }}

                div( flex )

                md-button.md-icon-button
                    md-icon share

                md-button.md-icon-button( ng-click="removeSelecteds()" )
                    md-icon delete

        md-table-container.list-files
            table( md-table md-row-select="true" multiple="true" ng-model="selecteds" )
                thead( md-head md-order="order" )
                    tr( md-row )
                        th( md-column md-order-by="name" ) {{ 'fs.table.name' | translate | ucfirst }}
                        th( md-column )
                        th( md-column md-numeric="true" md-order-by="size" ) {{ 'fs.table.size'  | translate | ucfirst }}
                        th( md-column md-numeric="true" md-order-by="mtime" ) {{ 'fs.table.mtime' | translate | ucfirst }}

                tbody( md-body )
                    tr( md-row md-select="file" md-select-id="name" ng-repeat="file in files | orderBy: 'directory': true | orderBy: order | filter: filter" ng-cloak )
                        td( md-cell ) {{ file.name }}
                        td( md-cell layout="row" layout-align="center center" )
                            md-button.md-icon-button
                                md-icon share

                            md-menu.md-secondary
                                md-button.md-icon-button( ng-click="$mdOpenMenu( $event )" )
                                    md-icon( md-menu-origin ) more_horiz

                                md-menu-content( width="4" )
                                    md-menu-item(  ng-if="file.directory" )
                                        md-button
                                            md-icon( md-menu-align-target ) add
                                            span {{ 'fs.options.bookmarks' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) share
                                            span {{ 'fs.options.share' | translate | ucfirst }}

                                    md-menu-item(  ng-if="file.directory" )
                                        md-button
                                            md-icon( md-menu-align-target ) folder_open
                                            span {{ 'fs.options.open' | translate | ucfirst }}

                                    md-menu-item
                                        md-button( ng-click="rename( file.name, $event )" )
                                            md-icon( md-menu-align-target ) create
                                            span {{ 'fs.options.rename' | translate | ucfirst }}

                                    md-menu-item(  ng-if="!file.directory" )
                                        md-button
                                            md-icon( md-menu-align-target ) file_download
                                            span {{ 'fs.options.download' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) archive
                                            span {{ 'fs.options.archive' | translate | ucfirst }}

                                    md-menu-item(  ng-if="!file.directory" )
                                        md-button
                                            md-icon( md-menu-align-target ) unarchive
                                            span {{ 'fs.options.unarchive' | translate | ucfirst }}

                                    md-menu-item
                                        md-button( ng-click="remove( file.name )" )
                                            md-icon( md-menu-align-target ) delete
                                            span {{ 'fs.options.delete' | translate | ucfirst }}

                        td( md-cell ) {{ file.size  | bytes }}
                        td( md-cell ) {{ file.mtime | date }}

    md-fab-speed-dial.md-scale.md-fixed.md-bottom-right( md-open="openFAB" md-direction="left" ng-mouseenter="openFAB = true" ng-mouseleave="openFAB = false" )
        md-fab-trigger
            md-button.md-fab.md-warn
                md-tooltip( md-direction="top" ) {{ 'fs.fab.menu' | translate | lower }}
                md-icon menu

        md-fab-actions
            md-button.md-fab.md-raised.md-mini( ng-click="list( path )" )
                md-tooltip( md-direction="top" ) {{ 'fs.fab.refresh' | translate | lower }}
                md-icon refresh

            md-button.md-fab.md-raised.md-mini( ng-click="list( '/' )" )
                md-tooltip( md-direction="top" ) {{ 'fs.fab.root' | translate | lower }}
                md-icon folder