md-content( flex layout="row" layout-xs="column" layout-sm="column" layout-align-md="center start" layout-align-gt="center start" layout-align-xl="center start" )
    md-card( flex="35" flex-xs="100" flex-sm="100" )
        md-toolbar.md-table-toolbar.md-default( ng-show="!foldersSelected.length" )
            div.md-toolbar-tools
                span {{ 'fs.folder' | translate | ucfirst }}
                span( flex )
                md-button.md-icon-button( ng-show="path != '/'" ng-click="location( path + '/..' )" )
                    md-tooltip( md-direction="bottom" ) {{ 'fs.parent' | translate | lower }}
                    md-icon layers

        md-toolbar.md-table-toolbar.md-default( ng-show="foldersSelected.length" )
            div.md-toolbar-tools
                span {{ foldersSelected.length }} {{ 'fs.selected' | translate | lower }}
                span( flex )
                md-button.md-icon-button
                    md-tooltip( md-direction="botton" ) {{ 'fs.archive' | translate | lower }}
                    md-icon archive

                md-button.md-icon-button
                    md-tooltip( md-direction="botton" ) {{ 'fs.share' | translate | lower }}
                    md-icon folder_shared

                md-button.md-icon-button
                    md-tooltip( md-direction="bottom" ) {{ 'fs.delete' | translate | lower }}
                    md-icon delete

        md-table-container
            table( md-table md-row-select="true" multiple="true" ng-model="foldersSelected" )
                thead( md-head md-order="foldersOrder" )
                    tr( md-row )
                        th( md-column md-order-by="name" ) {{ 'fs.name' | translate | ucfirst }}
                        th( md-column ) {{ 'fs.right' | translate | ucfirst }}
                        th.md-text-center( md-column ) {{ 'fs.action' | translate | ucfirst }}

                tbody( md-body )
                    tr( md-row md-select="folder" ng-repeat="folder in folders | orderBy: foldersOrder" ng-dblclick="location( '/' + folder.path + '/' +folder.name )" )
                        td( md-cell ) {{ folder.name | truncate: 30 }}
                        td( md-cell )
                            pre {{ folder.right }}
                        td.md-text-center( md-cell )
                            md-menu.md-secondary
                                md-button.md-icon-button( ng-click="$mdOpenMenu( $event )" )
                                    md-icon( md-menu-origin ) more_vert

                                md-menu-content( width="4" )
                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) add
                                            span {{ 'fs.bookmarks' | translate | ucfirst }}

                                    md-menu-item
                                        md-button( ng-click="location( '/' + folder.path + '/' + folder.name )" )
                                            md-icon( md-menu-align-target ) folder_open
                                            span {{ 'fs.open' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) folder_shared
                                            span {{ 'fs.share' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) create
                                            span {{ 'fs.rename' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) file_download
                                            span {{ 'fs.download' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) archive
                                            span {{ 'fs.archive' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) unarchive
                                            span {{ 'fs.unarchive' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) delete
                                            span {{ 'fs.delete' | translate | ucfirst }}

    md-card( flex="65" flex-xs="100" flex-sm="100" )
        md-toolbar.md-table-toolbar.md-default( ng-show="!filesSelected.length" )
            div.md-toolbar-tools
                span {{ 'fs.file' | translate | ucfirst }}

        md-toolbar.md-table-toolbar.md-default( ng-show="filesSelected.length" )
            div.md-toolbar-tools
                span {{ filesSelected.length }} {{ 'fs.selected' | translate | ucfirst }}
                span( flex )
                md-button.md-icon-button
                    md-tooltip( md-direction="bottom" ) {{ 'fs.archive' | translate | lower }}
                    md-icon archive

                md-button.md-icon-button
                    md-tooltip( md-direction="bottom" ) {{ 'fs.share' | translate | lower }}
                    md-icon share

                md-button.md-icon-button
                    md-tooltip( md-direction="bottom" ) {{ 'fs.delete' | translate | lower }}
                    md-icon delete

        md-table-container
            table( md-table md-row-select="true" multiple="true" ng-model="filesSelected" )
                thead( md-head md-order="filesOrder" )
                    tr( md-row )
                        th( md-column md-order-by="name" ) {{ 'fs.name' | translate | ucfirst }}
                        th( md-column md-order-by="size" ) {{ 'fs.size' | translate | ucfirst }}
                        th( md-column ) {{ 'fs.right' | translate | ucfirst }}
                        th( md-column md-order-by="mtime" ) {{ 'fs.lastModified' | translate | ucfirst }}
                        th.md-text-center( md-column ) {{ 'fs.action' | translate | ucfirst }}

                tbody( md-body )
                    tr( md-row md-select="file" ng-repeat="file in files | orderBy: filesOrder" )
                        td( md-cell ) {{ file.name | truncate: 30 }}
                        td( md-cell ) {{ file.size | bytes }}
                        td( md-cell )
                            pre {{ file.right }}
                        td( md-cell ) {{ file.mtime | date: 'medium' }}
                        td.md-text-center( md-cell )
                            md-menu.md-secondary
                                md-button.md-icon-button( ng-click="$mdOpenMenu( $event )" )
                                    md-icon( md-menu-origin ) more_vert

                                md-menu-content( width="4" )
                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) share
                                            span {{ 'fs.share' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) create
                                            span {{ 'fs.rename' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) file_download
                                            span {{ 'fs.download' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) archive
                                            span {{ 'fs.archive' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) unarchive
                                            span {{ 'fs.unarchive' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) delete
                                            span {{ 'fs.delete' | translate | ucfirst }}

    md-fab-speed-dial.md-scale.md-fixed.md-bottom-right( md-open="openFAB" md-direction="left" ng-mouseenter="openFAB = true" ng-mouseleave="openFAB = false" )
        md-fab-trigger
            md-button.md-fab.md-warn
                md-tooltip( md-direction="top" ) {{ 'fs.moreOptions' | translate | lower }}
                md-icon menu

        md-fab-actions
            md-button.md-fab.md-raised.md-mini
                md-tooltip( md-direction="top" ) {{ 'fs.refresh' | translate | lower }}
                md-icon refresh