md-content( flex layout="row" layout-align="center start" )
    md-card( flex="35" )
        md-toolbar.md-table-toolbar.md-default
            div.md-toolbar-tools
                span {{ 'fs.folder' | translate | ucfirst }}

        md-table-container
            table( md-table md-row-select="true" multiple="true" ng-model="foldersSelected" )
                thead( md-head )
                    tr( md-row )
                        th( md-column ) {{ 'fs.name' | translate | ucfirst }}
                        th( md-column ) {{ 'fs.right' | translate | ucfirst }}
                        th.md-text-center( md-column ) {{ 'fs.action' | translate | ucfirst }}

                tbody( md-body )
                    tr( md-row md-select="folder" ng-repeat="folder in folders" ng-dblclick="location( '/' + folder.path + '/' +folder.name )" )
                        td( md-cell ) {{ folder.name }}
                        td( md-cell )
                            pre {{ folder.right }}
                        td.md-text-center( md-cell )
                            md-menu.md-secondary
                                md-button.md-icon-button( ng-click="$mdOpenMenu( $event )" )
                                    md-icon( md-menu-origin ) more_vert

                                md-menu-content( width="3" )
                                    md-menu-item
                                        md-button( ng-click="location( '/' + folder.path + '/' + folder.name )" )
                                            md-icon( md-menu-align-target ) folder_open
                                            span {{ 'fs.open' | translate | ucfirst }}

                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) file_download
                                            span {{ 'fs.download' | translate | ucfirst }}

    md-card( flex="65" )
        md-toolbar.md-table-toolbar.md-default
            div.md-toolbar-tools
                span {{ 'fs.file' | translate | ucfirst }}

        md-table-container
            table( md-table md-row-select="true" multiple="true" ng-model="filesSelected" )
                thead( md-head )
                    tr( md-row )
                        th( md-column ) {{ 'fs.name' | translate | ucfirst }}
                        th( md-column ) {{ 'fs.size' | translate | ucfirst }}
                        th( md-column ) {{ 'fs.right' | translate | ucfirst }}
                        th( md-column ) {{ 'fs.lastModified' | translate | ucfirst }}
                        th.md-text-center( md-column ) {{ 'fs.action' | translate | ucfirst }}

                tbody( md-body )
                    tr( md-row md-select="file" ng-repeat="file in files" )
                        td( md-cell ) {{ file.name | truncate }}
                        td( md-cell ) {{ file.size | bytes }}
                        td( md-cell )
                            pre {{ file.right }}
                        td( md-cell ) {{ file.mtime | date: 'medium' }}
                        td.md-text-center( md-cell )
                            md-menu.md-secondary
                                md-button.md-icon-button( ng-click="$mdOpenMenu( $event )" )
                                    md-icon( md-menu-origin ) more_vert

                                md-menu-content( width="3" )
                                    md-menu-item
                                        md-button
                                            md-icon( md-menu-align-target ) file_download
                                            span {{ 'fs.download' | translate | ucfirst }}
