md-content( flex="100" layout="row" layout-align="start start" layout-wrap )
    md-card( flex="15" ng-repeat="folder in folders" )
        span {{ folder.name }}

    md-card( flex="15" ng-repeat="file in files" )
        span {{ file.name }}