div( flex="100" layout="row" layout-align="start start" layout-align-sm="center start" layout-wrap )
    md-card( flex="15" flex-md="25" flex-sm="45" flex-xs="100" )
        md-card-content qsd

    md-card( flex="15" flex-md="25" flex-sm="45" flex-xs="100" )
        md-card-content sqd