doctype html
html( ng-app="florentindubois.filemanager" )
    head
        meta( charset="utf-8" )
        meta( http-equiv="content-type" content="text/html; charset=utf-8" )
        meta( http-equiv="default-style" content="text/css; charset=utf-8" )

        meta( name="author" content="Florentin DUBOIS" )
        meta( name="application-name" content="{{ 'app.name' | translate }}" )
        meta( name="viewport" content="width=device-width, initial-scale=1.0" )

        title {{ 'app.name' | translate | ucfirst }}

        link( rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" )
        link( rel="stylesheet" href="angular/angular-material.min.css" )
        link( rel="stylesheet" href="imports.min.css" )

    body( layout="column" )
        md-toolbar
            div.md-toolbar-tools
                h1.md-headline {{ 'app.name' | translate | ucfirst }}

        md-content( layout="column" ng-cloak flex )
            section( layout="row" flex )
                md-sidenav.md-sidenav-left.md-whiteframe-z2( md-component-id="left" md-is-locked-open="$mdMedia( 'gt-md' )" )

                md-content( flex layout-padding )

        script( type="application/javascript" src="angular/angular.min.js" )
        script( type="application/javascript" src="angular/angular-animate.min.js" )
        script( type="application/javascript" src="angular/angular-aria.min.js" )
        script( type="application/javascript" src="angular/angular-material.min.js" )
        script( type="application/javascript" src="angular/angular-messages.min.js" )
        script( type="application/javascript" src="angular/angular-sanitize.min.js" )
        script( type="application/javascript" src="angular/angular-translate.min.js" )
        script( type="application/javascript" src="main.min.js" )