doctype html
html( ng-app="florentindubois.kraken" )
    head
        meta( charset="utf-8" )
        meta( http-equiv="content-type" content="text/html; charset=utf-8" )
        meta( http-equiv="default-style" content="text/css; charset=utf-8" )

        meta( name="author" content="Florentin DUBOIS" )
        meta( name="application-name" content="{{ 'app.name' | translate }}" )
        meta( name="viewport" content="width=device-width, initial-scale=1.0" )

        title {{ 'app.name' | translate | ucfirst }}

        link( rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" )
        link( rel="stylesheet" type="text/css" href="angular/angular-material.min.css" )
        link( rel="stylesheet" type="text/css" href="dist/imports.min.css" )

    body( layout="column" ng-controller="kraken.navigation" )
        md-toolbar
            div.md-toolbar-tools
                md-button.md-icon-button.hide-gt-xs.show-xs.show-sm.show-md( ng-click="openSidenav()" )
                    md-icon menu

                h1.md-headline {{ 'app.name' | translate | ucfirst }}

                span( flex )

                md-button( ng-click="exit()" ) {{ 'toolbar.exit' | translate | ucfirst }}

        md-content( layout="column" ng-cloak flex )
            section( layout="row" flex )
                md-sidenav.md-sidenav-left.md-whiteframe-z2( md-component-id="left" md-is-locked-open="$mdMedia( 'gt-md' )" )
                    div( flex )
                        md-list
                            md-list-item( md-ink-ripple ng-repeat="item in menu" )
                                a( ng-href="{{ item.link }}" )
                                    md-icon {{ item.icon }}
                                    span {{ item.name | translate | ucfirst }}

                            md-divider( ng-show="signets.length != 0 && user.length != 0" )

                            md-list-item( md-ink-ripple ng-repeat="item in signets" )
                                a( ng-href="{{ item.path }}" )
                                    md-icon {{ item.icon }}
                                    span {{ item.name | translate | ucfirst }}

                md-content( flex layout-padding )
                    div( flex ng-view )

        script( type="application/javascript" src="angular/angular.min.js" )
        script( type="application/javascript" src="angular/angular-animate.min.js" )
        script( type="application/javascript" src="angular/angular-aria.min.js" )
        script( type="application/javascript" src="angular/angular-material.min.js" )
        script( type="application/javascript" src="angular/angular-messages.min.js" )
        script( type="application/javascript" src="angular/angular-route.min.js" )
        script( type="application/javascript" src="angular/angular-sanitize.min.js" )
        script( type="application/javascript" src="angular/angular-translate.min.js" )
        script( type="application/javascript" src="dist/main.js" )