md-dialog( ng-cloak="true" aria-label="{{ basename }}" )
    md-dialog-content( layout="row" layout-align="center center" )
        img( ng-src="{{ src }}" alt="{{ basename }}" aria-label="{{ basename }}" )
