md-content( layout="row" layout-xs="column" layout-sm="column" layout-md="column" layout-align-lg="center start" layout-align-xl="center start" )
    md-card( flex="60" flex-xs="100" flex-sm="100" flex-md="100" )
        md-card-header
            md-card-header-text
                h1.md-title {{ 'manageAccount.userInformation' | translate | ucfirst }}
                h2.md-subhead {{ 'manageAccount.userInformationComplete' | translate | ucfirst }}

        md-card-content
            form( name="updateUser" accept-charset="utf-8" layout="column" ng-submit="save()" )
                md-input-container( flex="100" )
                    label {{ 'manageAccount.username' | translate | ucfirst }}
                    input( type="text" name="username" ng-model="user.username" required )
                    div( ng-messages="updateUser.username.$error" )
                        div( ng-message="required" ) {{ 'manageAccount.error.required' | translate | ucfirst }}

                div( flex="100" layout="row" layout-xs="column" layout-sm="column" )
                    md-input-container( flex="50" flex-xs="100" flex-sm="100" )
                        label {{ 'manageAccount.firstname' | translate | ucfirst }}
                        input( type="text" name="firstname" ng-model="user.firstname" required )
                        div( ng-messages="updateUser.firstname.$error" )
                            div( ng-message="required" ) {{ 'manageAccount.error.required' | translate | ucfirst }}

                    md-input-container( flex="50" flex-xs="100" flex-sm="100" )
                        label {{ 'manageAccount.lastname' | translate | ucfirst }}
                        input( type="text" name="lastname" ng-model="user.lastname" required )
                        div( ng-messages="updateUser.lastname.$error" )
                            div( ng-message="required" ) {{ 'manageAccount.error.required' | translate | ucfirst }}

                md-input-container( flex="100" )
                    label {{ 'manageAccount.password' | translate | ucfirst }}
                    input( type="password" name="password" ng-model="user.password" required )
                    div( ng-messages="updateUser.password.$error" )
                        div( ng-message="required" ) {{ 'manageAccount.error.required' | translate | ucfirst }}

                md-input-container( flex="100" )
                    label {{ 'manageAccount.email' | translate | ucfirst }}
                    input( type="text" name="email" ng-model="user.email" required pattern="[\\\w\\\d\\\-\\\._]+@[\\\w\\\d\\\-_]+\\\.[\\\w]{2,}" )
                    div( ng-messages="updateUser.email.$error" )
                        div( ng-message="required" ) {{ 'manageAccount.error.required' | translate | ucfirst }}
                        div( ng-message="pattern" ) {{ 'manageAccount.error.email' | translate | ucfirst }}

                div( flex="100" )
                    md-checkbox( ng-model="user.administrator" ) {{ 'manageAccount.administrator' | translate | ucfirst }}

                div( flex="100" layout="row" layout-align="end center" )
                    md-button.md-raised.md-primary( type="submit" ) {{ 'manageAccount.submit' | translate | ucfirst }}

    md-card( flex="40" flex-xs="100" flex-sm="100" flex-md="100" ng-cloak )
        md-list
            md-subheader {{ 'manageAccount.selectUser' | translate | ucfirst }}
            md-list-item.md-3-line( ng-click="select( $index )" ng-repeat="user in users" )
                div.md-list-item-text
                    h3 {{ user.username }}
                    h4 {{ user.firstname | lower | ucfirst }} {{ user.lastname | upper }}
                    p {{ user.email | lower }}

                md-button.md-raised.md-primary( ng-click="remove( $index )" ) {{ 'manageAccount.remove' | translate | ucfirst }}

            md-divider( ng-show="$last" )

    md-button.md-fab.md-fixed.md-bottom-right( ng-click="add()" )
        md-tooltip( md-direction="left" ) {{ 'manageAccount.addAdministrator' | translate | lower }}
        md-icon add