doctype html
html( ng-app="florentindubois.kraken" )
    head
        meta( charset="utf-8" )
        meta( http-equiv="content-type" content="text/html; charset=utf-8" )
        meta( http-equiv="default-style" content="text/css; charset=utf-8" )

        meta( name="author" content="Florentin DUBOIS" )
        meta( name="application-name" content="{{ 'app.name' | translate }}" )
        meta( name="viewport" content="width=device-width, initial-scale=1.0" )

        title {{ 'app.name' | translate | ucfirst }}

        link( rel="stylesheet" type="text/css" href="angular/angular-material.min.css" )
        link( rel="stylesheet" type="text/css" href="angular/md-data-table.min.css" )
        link( rel="stylesheet" type="text/css" href="dist/imports.min.css" )

    body( layout="column" )
        md-toolbar
            div.md-toolbar-tools
                h1.md-headline {{ 'app.name' | translate | ucfirst }}

        md-content( layout="row" layout-align-md="center center" layout-align-lg="center center" layout-align-xl="center center" flex="100" )
            md-card( flex="40" flex-md="60" flex-sm="100" flex-xs="100" )
                md-toolbar
                    div.md-toolbar-tools
                        h2.md-headline {{ 'setup.title' | translate | ucfirst }}

                md-card-content
                    form( name="setupLogin" accept-charset="utf-8"  autocomplete="off" ng-controller="kraken.setup" ng-submit="submit($event)" )
                        md-input-container.md-block
                            label {{ 'setup.username' | translate | ucfirst }}
                            input( type="text" name="username" ng-model="setup.username" required )
                            div( ng-messages="setupLogin.username.$error" )
                                div( ng-message="required" ) {{ 'setup.error.required' | translate | ucfirst }}

                        md-input-container.md-block
                            label {{ 'setup.firstname' | translate | ucfirst }}
                            input( type="text" name="firstname" ng-model="setup.firstname" required )
                            div( ng-messages="setupLogin.firstname.$error" )
                                div( ng-message="required" ) {{ 'setup.error.required' | translate | ucfirst }}

                        md-input-container.md-block
                            label {{ 'setup.lastname' | translate | ucfirst }}
                            input( type="text" name="lastname" ng-model="setup.lastname" required )
                            div( ng-messages="setupLogin.lastname.$error" )
                                div( ng-message="required" ) {{ 'setup.error.required' | translate | ucfirst }}

                        md-input-container.md-block
                            label {{ 'setup.email' | translate | ucfirst }}
                            input( type="text" name="email" ng-model="setup.email" required )
                            div( ng-messages="setupLogin.email.$error" )
                                div( ng-message="required" ) {{ 'setup.error.required' | translate | ucfirst }}

                        md-input-container.md-block
                            label {{ 'setup.password' | translate | ucfirst }}
                            input( type="password" name="password" ng-model="setup.password" pattern=".{8,64}" required )
                            div( ng-messages="setupLogin.password.$error" )
                                div( ng-message="required" ) {{ 'setup.error.required' | translate | ucfirst }}
                                div( ng-message="pattern" ) {{ 'setup.error.email' | translate | ucfirst }}

                        div( layout="row" layout-align="end center" )
                            md-button( type="submit" ).md-raised.md-primary {{ 'setup.submit' | translate | ucfirst }}

        script( type="application/javascript" src="angular/angular.min.js" )
        script( type="application/javascript" src="angular/angular-animate.min.js" )
        script( type="application/javascript" src="angular/angular-aria.min.js" )
        script( type="application/javascript" src="angular/angular-material.min.js" )
        script( type="application/javascript" src="angular/angular-messages.min.js" )
        script( type="application/javascript" src="angular/angular-route.min.js" )
        script( type="application/javascript" src="angular/angular-sanitize.min.js" )
        script( type="application/javascript" src="angular/angular-translate.min.js" )
        script( type="application/javascript" src="angular/md-data-table.min.js" )

        if env.NODE_ENV === 'production'
            script( type="application/javascript" src="dist/main.min.js" )
        else
            script( type="application/javascript" src="dist/main.js" )
