@each $position in fixed, absolute, relative {
    .md-#{$position} {
        position: #{$position};

        @each $side in top, bottom {
            @each $other-side in left, right {
                &.md-#{$side}-#{$other-side} {
                    #{$side}: 20px;
                    #{$other-side}: 20px;
                }
            }
        }
    }
}

@each $position in right, left {
    .md-float-#{$position} {
        float: #{$position};
    }

    .md-clear-#{$position} {
        clear: #{$position};
    }
}

.md-clear-both {
    clear: both;
}